/*#fae596 mustard
#3fb0ac nice green
#173e43 dark green
#dddfd4 light grey*/

html,
body {
    height: 100%;
}

header {
    height: 150px;
    background-color: transparent;
    font-size: 25px;
}

a {
    color: #173e43;
}

a:hover {
    text-decoration: none;
    color: #173e43;
}

blockquote {
    color: white;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

blockquote>small {
    color: white;
    font-size: 20px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    background-image: url('../images/landing.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.flex-container ul {
    display: flex;
}

.flex-container ul li {
    padding: 25px;
}

.flex-container img {
    height: 100px;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.expand {
    font-weight: bold;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.expand:after {
    display: block;
    content: '';
    border-bottom: solid 3px #fae596;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%
}

.expand:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

.quote {
    margin-top: 150px;
}

@media screen and (max-width: 535px) {
    .flex-container {
        align-items: center;
        justify-content: center;
        padding-left: 32.5%;
    }
    .flex-container ul li a {
        display: none;
    }
}