.heading {
    font-size: 50px;
}

#underline {
    border-bottom: 5px solid $mustard;
}

.card-title {
    font-weight: 700;
}

.description {
    font-size: 25px;
    margin-top: 50px;
}

.me {
    margin-top: 75px;
}

#about {
    margin-top: 75px;
}

.owl-carousel {
    margin-top: 75px;
}

@media (max-width:780px) {
    .m-center {
        text-align: center;
    }
    .icons {
        flex-direction: row;
        justify-content: center;
    }
}