/*  ABOUT SECTION CSS START */

.heading {
    font-size: 50px;
}

.card-title {
    font-weight: 700;
}

.description {
    font-size: 25px;
    margin-top: 50px;
}

.me {
    margin-top: 75px;
}

.owl-carousel {
    margin-top: 75px;
}

.experience {
    img {
        padding: 10px;
    }
}

#underline {
    border-bottom: 5px solid $mustard;
}

#about {
    margin-top: 75px;
}

#carleton-container {
    align-items: flex-start;
}

#TA {
    font-weight: 700;
}

@media (max-width:780px) {
    .m-center {
        text-align: center;
    }
    .icons {
        flex-direction: row;
        justify-content: center;
    }
    #carleton {
        text-align: center;
        width: 50%;
        height: 75%;
    }
}

@media (min-width: 780px) {}


/*  ABOUT SECTION CSS END */