header {
    height: 150px;
    background-color: transparent;
    font-size: 25px;
}

a {
    color: $dark-green;
}

a:hover {
    text-decoration: none;
    color: $dark-green;
}

.navigation {
    transition: 0.5s;
    background-color: transparent;
    // position: relative;
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    top: 0;
}

.navigation ul li a {
    transition: 0.2s;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    padding: 25px;
}

.navigation img {
    transition: 0.5s;
    height: 100px;
}

#nav-icon1 {
    display: none;
}

.white {
    transition: 0.5s;
    background-color: white;
    border-bottom: 1px solid black;
}

@media (max-width: 768px) {
    .navigation ul li a {
        transition: 0.2s;
        display: none;
    }
    .navigation {
        transition: 0.5s;
        height: 100px;
    }
    .navigation img {
        transition: 0.5s;
        height: 75px;
    }
    #nav-icon1 {
        display: block;
    }
}