/*  GRID CSS START */

.column {
    flex-basis: 100%;
}

.flex-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.column {
    flex: 1;
    // box-shadow: 5px 2px $light-grey;
    margin: 10px;
    padding: 10px;
}

.twenty-five {
    flex: 2.5;
}

.fifty {
    flex: 5;
}

.seventy-five {
    flex: 7.5;
}

@media screen and (max-width:780px) {
    .grid-row {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .flex-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .flex-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .flex-container {
        width: 1170px;
    }
}


/*  GRID CSS END */