/* NAVBAR CSS START*/

header {
    height: 150px;
    background-color: transparent;
    font-size: 25px;
}

a {
    color: $dark-green;
}

a:hover {
    text-decoration: none;
    color: $dark-green;
}

.navigation {
    transition: 0.5s;
    background-color: transparent;
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    top: 0;
}

.navigation ul li a {
    transition: 0.2s;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    padding: 25px;
}

.navigation img {
    transition: 0.5s;
    height: 100px;
}

#nav-icon1 {
    display: none;
}

.white {
    transition: 0.5s;
    background-color: white;
    border-bottom: 1px solid black;
}

@media (max-width: 768px) {
    .navigation ul li a {
        transition: 0.2s;
        display: none;
    }
    #nav-icon1 {
        display: block;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    border-left: 1px black solid;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $dark-green;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: $dark-green;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* NAVBAR CSS END*/