/*  ABOUT SECTION CSS START */

.heading {
    font-size: 40px;
}

.description {
    font-size: 25px;
    margin-top: 50px;
}

.me {
    // margin-top: 25px;
}

.owl-carousel {
    margin-top: 75px;
}

.experience {
    img {
        padding: 10px;
    }
}

.underline {
    border-bottom: 5px solid $mustard;
}

#about {
    margin-top: 75px;
}

#carleton {
    height: 50%;
}

.emphasis {
    font-weight: 700;
}

@media (max-width:780px) {
    .m-center {
        text-align: center;
    }
    .icons {
        flex-direction: row;
        justify-content: center;
    }
    .information img {
        text-align: center;
        width: 45%;
    }
    #rally-engine {
        height: 100%;
    }
    #carleton {
        width: 35%;
    }
    .experience {
        img {
            width: 60px;
            height: 60px;
        }
    }
    // .institution {
    //     font-size: 32px;
    // }
}

@media (min-width: 780px) {
    .jobs-description {
        margin-top: -143px;
    }
    #jobs {
        margin-top: -150px;
    }
}


/*  ABOUT SECTION CSS END */