<!DOCTYPE html>
<html lang="en">

<head>
    <title>Muhammad Awais Qureshi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!-- NAVBAR -->
    <header>
        <div class="navigation">
            <a href="#"><img id="logo" src="../images/logo.png" alt="It's me"></a>
            <ul>
                <li><a href="#about" class="expand">About</a></li>
                <li><a href="#background" class="expand">Background</a></li>
                <li><a href="/projects" class="expand">Projects</a></li>
                <li><a href="https://drive.google.com/file/d/0B50KJCa1n2OYT0t3dzZ5Wm9JRk0/view?usp=sharing" target="_blank" class="expand">Resume</a></li>
                <li id="nav-icon1"><span></span><span></span><span></span></li>
            </ul>
        </div>
        <div class="sidenav">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <a class="links" href="/#about">About</a>
            <a class="links" href="/#background">Background</a>
            <a class="links" href="/projects">Projects</a>
            <a class="links" href="https://drive.google.com/file/d/0B50KJCa1n2OYT0t3dzZ5Wm9JRk0/view?usp=sharing">Resume</a>
        </div>
    </header>

    <!-- LANDING SECTION -->
    <section class="landing">
        <div class="flex-container quote">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <h2 id="colin">There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</h2>
                        <small>Colin Powell</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="arrow text-center">
            <a href="#about"><i class="fa fa-5x fa-angle-double-down" aria-hidden="true" style="color: #dddfd4"></i></a>
        </div>
    </section>

    <!--ABOUT SECTION-->
    <section id="about">
        <div class="flex-container">
            <h1 class="text-center heading"><strong><span class="underline">About</span> Me</strong></h1>

            <div class="text-center" style="margin-top: 20px;">
                <div class="grid-row">
                    <div class="column">
                        <img class="img-responsive" style="border: 1px solid black" src="images/carousel/img5.jpg" alt="me" height="200px" width="100%">
                    </div>
                    <div class="column">
                        <img class="img-responsive" style="border: 1px solid black" src="images/carousel/img7.jpg" alt="me" height="200px" width="100%">
                    </div>
                </div>
            </div>

            <div class="grid-row me m-center">
                <div class="column expand">
                    <h2 class="emphasis text-center"><span class="underline">Who </span>?</h2>
                    <p class="description">I am a Senior Undergraduate Honours Student, Programmer, Developer, Traveler, Teacher & Photography Enthusiast. </p>
                    <div class="grid-row icons m-center text text-center">
                        <div class="column">
                            <i class="fa fa-3x fa-graduation-cap"></i>
                        </div>
                        <div class="column">
                            <i class="fa fa-3x fa-camera-retro"></i>
                        </div>
                    </div>
                </div>
                <div class="column expand">
                    <h2 class="emphasis text-center"><span class="underline">What </span>?</h2>
                    <p class="description">I love learning, and have been programming for the past 4 years. However, I have been primarily doing Web Development for the past 1.5 years.</p>
                    <div class="grid-row icons m-center text-center">
                        <div class="column">
                            <i class="fa fa-3x fa-mouse-pointer"></i>
                        </div>
                        <div class="column">
                            <i class="fa fa-3x fa-desktop"></i>
                        </div>
                    </div>
                </div>
                <div class="column expand">
                    <h2 class="emphasis text-center"><span class="underline">Why </span>?</h2>
                    <p class="description">I always wondered what makes the tech of today function. With that goal in mind, I garner experience to contribute to the tech of tomorrow!</p>
                    <div class="grid-row icons m-center text-center">
                        <div class="column">
                            <i class="fa fa-3x fa-globe"></i>
                        </div>
                        <div class="column">
                            <i class="fa fa-3x fa-university"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--BACKGROUND SECTION-->
    <section id="background">
        <div class="flex-container">
            <h1 class="text-center heading" style="margin-top:35px;"><strong><span class="underline">Backg</span>round</strong></h1>
            <h2 class="emphasis m-center" style="margin-top: 50px;"><span class="underline">Educ</span>ation</h2>
            <div class="grid-row m-center" style="margin-top: 50px;">
                <div class="column text-center">
                    <img id="carleton" src="../images/organizations/carleton.png" alt="Carleton University">
                </div>
                <div class="column text-center">
                    <h1 class="heading">Carleton University</h1>
                    <h3>2014 - current</h3>
                    <h4>Honors in Computer Science (BCs)</h4>
                </div>
            </div>
            <h2 id="jobs" class="emphasis m-center"><span class="underline">Exper</span>ience</h2>
            <div class="grid-row">
                <div class="column text-center">
                    <div class="grid-row m-center">
                        <div class="column">
                            <img id="rally-engine" src="../images/organizations/rally-engine.png" height="100%" alt="RallyEngine">
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="column text-center">
                            <h1 class="heading">Rally Engine</h1>
                            <h2 class="emphasis">Software QA Intern</h2>
                            <h3>May 2017 - current</h3>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="grid-row">
                        <div class="column text-center">
                            <img id="carleton" src="../images/organizations/carleton.png" alt="Carleton University">
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="column text-center jobs-description">
                            <h1 class="heading">Carleton University</h1>
                            <h2 class="emphasis">Teaching Assistant</h2>
                            <h3>Jan 2017 - April 2017</h3>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="emphasis m-center"><span class="underline">Technol</span>ogies</h2>
            <div class="grid-row">
                <div class="column m-center experience">
                    <img src="../images/tools/javascript.svg" height="75px" width="75px" />
                    <img src="../images/tools/typescript.svg" height="75px" width="75px" />
                    <img src="../images/tools/cpp.svg" height="75px" width="75px" />
                    <img src="../images/tools/c.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/html5.svg" height="75px" width="75px" />
                    <img src="../images/tools/css3.svg" height="75px" width="75px" />
                    <img src="../images/tools/sass.svg" height="75px" width="75px" />
                    <img src="../images/tools/less.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/angular.svg" height="75px" width="100px" />
                    <img src="../images/tools/angular-icon-1.svg" height="75px" width="75px" />
                    <img src="../images/tools/react.svg" height="75px" width="75px" />
                    <img src="../images/tools/jquery.svg" height="75px" width="75px" />
                </div>
            </div>
            <div class="grid-row">
                <div class="column m-center experience">
                    <img src="../images/tools/node.svg" height="75px" width="75px" />
                    <img src="../images/tools/express-109.svg" height="75px" width="75px" />
                    <img src="../images/tools/webpack.svg" height="75px" width="75px" />
                    <img src="../images/tools/babel.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/bootstrap.svg" height="75px" width="75px" />
                    <img src="../images/tools/foundation.svg" height="75px" width="75px" />
                    <img src="../images/tools/semantic-ui.svg" height="75px" width="75px" />
                    <img src="../images/tools/material-ui.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/php-1.svg" height="75px" width="75px" />
                    <img src="../images/tools/laravel.svg" height="75px" width="75px" />
                    <img src="../images/tools/codeigniter.svg" height="75px" width="75px" />
                    <img src="../images/tools/composer.svg" height="85px" width="75px" />
                </div>
            </div>
            <div class="grid-row text-center">
                <div class="column m-center experience">
                    <img src="../images/tools/mongodb.svg" height="75px" width="100px" />
                    <img src="../images/tools/postgresql.svg" height="75px" width="75px" />
                    <img src="../images/tools/sqlite.svg" height="75px" width="75px" />
                    <img src="../images/tools/mysql.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/macos-sierra.svg" height="75px" width="75px" />
                    <img src="../images/tools/linux-tux.svg" height="75px" width="75px" />
                    <img src="../images/tools/windows8.svg" height="75px" width="75px" />
                    <img src="../images/tools/ubuntu.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/vscode.svg" height="75px" width="75px" />
                    <img src="../images/tools/atom.svg" height="75px" width="75px" />
                    <img src="../images/tools/npm.svg" height="75px" width="75px" />
                    <img src="../images/tools/yarn.svg" height="75px" width="75px" />
                </div>
            </div>
            <div class="grid-row text-center">
                <div class="column m-center experience">
                    <img src="../images/tools/apache-13.svg" height="75px" width="75px" />
                    <img src="../images/tools/heroku.svg" height="75px" width="75px" />
                    <img src="../images/tools/jenkins.svg" height="90px" width="100px" />
                    <img src="../images/tools/xampp.svg" height="75px" width="75px" />
                </div>
                <div class="column m-center experience">
                    <img src="../images/tools/github-2.svg" height="75px" width="75px" />
                    <img src="../images/tools/bitbucket.svg" height="75px" width="75px" />
                    <img src="../images/tools/git.svg" height="75px" width="75px" />
                    <img src="../images/tools/sourcetree.svg" height="75px" width="75px" />
                </div>
            </div>
        </div>
    </section>

    <!--SCRIPTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="scripts/scroll.js" type="text/javascript"></script>
    <script src="scripts/init.js" type="text/javascript"></script>
    <script src="scripts/hamburger.js" type="text/javascript"></script>

</body>

</html>