<!DOCTYPE html>
<html lang="en">

<head>
    <title>Muhammad Awais Qureshi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!-- NAVBAR -->
    <header>
        <div class="navigation">
            <a href="/"><img id="logo" src="../images/logo.png" alt="It's me"></a>
            <ul>
                <li><a href="/" class="expand">Home</a></li>
                <li><a href="/projects" class="expand">Projects</a></li>
                <li><a href="https://drive.google.com/file/d/0B50KJCa1n2OYbXZkbGs2TTRIc3M/view?usp=sharing" target="_blank" class="expand">Resume</a></li>
                <li id="nav-icon1"><span></span><span></span><span></span></li>
            </ul>
        </div>
        <div class="sidenav">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <a class="links" href="/">Home</a>
            <a class="links" href="https://drive.google.com/file/d/0B50KJCa1n2OYT0t3dzZ5Wm9JRk0/view?usp=sharing">Resume</a>
        </div>
    </header>

    <div class="flex-container ">
        <section id="projects ">
            <div class="projects grid-row text-center ">
                <div class="column ">
                    <div class="project-img ">
                        <img src="images/projects/Weather/app.png" alt=" ">
                    </div>
                    <div class="project-title">
                        <h2>What is my weather?</h2>
                    </div>
                    <div class="project-tech ">
                        <img class="express" src="../images/tools/express-109.svg " />
                        <img src="../images/tools/react.svg " height="50px " width="50px " />
                        <img src="../images/tools/redux.svg " height="50px " width="50px " />
                        <img src="../images/tools/GoogleMaps.svg " height="50px " width="50px " />
                        <img src="../images/tools/darkskylogo.png "/>
                        <img src="../images/tools/bulma-banner.png " class="bulma" />
                    </div>
                    <div class="project-links ">
                        <i class="fa fa-3x fa-github-square " aria-hidden="true "></i>
                    </div>
                </div>

                <div class="column ">
                    <div class="project-img ">
                        <img src="images/projects/Emoji/Emoji.png" alt=" ">
                    </div>
                    <div class="project-title ">
                        <h2>Emoji Password Game</h2>
                    </div>
                    <div class="project-tech ">
                        <img src="../images/tools/node.svg " height="50px " width="50px " />
                        <img src="../images/tools/jquery.svg " height="50px " width="50px " />
                        <img src="../images/tools/html5.svg " height="50px " width="50px " />
                        <img src="../images/tools/css3.svg " height="50px " width="50px " />
                    </div>
                    <div class="project-links ">
                        <i class="fa fa-3x fa-github-square " aria-hidden="true "></i>
                    </div>
                </div>
            </div>

            <div class="projects grid-row text-center ">
                <div class="column ">
                    <div class="project-img" style="margin-top:22px">
                        <img src="images/projects/Youtube-Viewer/youtube-viewer.png " alt=" ">
                    </div>
                    <div class="project-title">
                        <h2>Youtube Viewer</h2>
                    </div>
                    <div class="project-tech grid-row ">
                        <div>
                            <img src="../images/tools/node.svg " height="50px " width="50px " />
                            <img src="../images/tools/react.svg " height="50px " width="50px " />
                            <img src="../images/tools/bootstrap.svg " height="50px " width="50px " />
                            <img src="../images/tools/youtube-icon.svg " height="50px " width="50px " />
                        </div>
                    </div>
                    <div class="grid-row project-links ">
                        <i class="fa fa-3x fa-github-square " aria-hidden="true "></i>
                    </div>
                </div>
                <div class="column ">
                    <div class="project-img" style="margin-top:22px">
                        <img src="images/projects/GDP/gdp.png " alt=" ">
                    </div>
                    <div class="project-title">
                        <h2>GDP Distribution Visualization for Canada (2008)</h2>
                    </div>
                    <div class="project-tech grid-row ">
                        <div>
                            <img src="../images/tools/Processing.svg " height="50px " width="50px " />
                        </div>
                    </div>
                    <div class="grid-row project-links ">
                        <i class="fa fa-3x fa-github-square " aria-hidden="true "></i>
                    </div>
                </div> 
            </div>
            <div class="projects grid-row text-center ">
                <div class="column ">
                    <div class="project-img" style="margin-top:22px">
                        <img src="images/projects/MAG-OS/newOS.png " alt=" ">
                    </div>
                    <div class="project-title">
                        <h2>MAGS-OS</h2>
                    </div>
                    <div class="project-tech grid-row ">
                        <div>
                            <img src="../images/tools/c.svg " height="50px " width="50px " />
                            <img class="v-box" src="../images/tools/virtualbox.svg " height="80px " width="80px " />
                        </div>
                    </div>
                    <div class="grid-row project-links ">
                        <i class="fa fa-3x fa-github-square " aria-hidden="true "></i>
                    </div>
                </div>
                <div class="column ">
                    <div class="project-img" style="margin-top:22px">
                        <img src="images/projects/Honors/recipe.jpg " alt=" ">
                    </div>
                    <div class="project-title">
                        <h2>Recipe Viewer</h2>
                    </div>
                    <div class="project-tech grid-row ">
                        <div>
                            <img src="../images/tools/node.svg " height="50px " width="50px " />
                            <img src="../images/tools/jquery.svg " height="50px " width="50px " />
                            <img src="../images/tools/mongodb.svg " height="50px " width="50px " />
                            <img src="../images/tools/html5.svg " height="50px " width="50px " />
                            <img src="../images/tools/css3.svg " height="50px " width="50px " />
                        </div>
                    </div>
                    <div class="grid-row project-links ">
                        <i class="fa fa-3x fa-github-square " aria-hidden="true "></i>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--SCRIPTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="scripts/scroll.js " type="text/javascript "></script>
    <script src="scripts/init.js " type="text/javascript "></script>
    <script src="scripts/hamburger.js " type="text/javascript "></script>
</body>

</html>